{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h2>Get stock quote</h2>
    <form action="/quote", method="post">
        <label for="symbol">symbol</label>
        <input id="symbol" name="symbol" placeholder="Stock symbol" type="text">
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    {% if query %}
        <h2>
            A share of {{ query['name'] }} {{ (query['symbol'] )}}
        </h2>
        <p>costs {{ query['price'] | usd }}</p>
    {% endif %}
{% endblock %}
